<div class="row">
    <div class="col-md-12">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="#" class="brand w-nav-brand"></a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right list-inline">
              {% if request.user.is_authenticated %}
              <li><a class="navbar-menu-item" href="#">{{ request.user.email }}{% if request.user.is_superuser %}(Admin){% endif %}</a></li>
              <li><a class="navbar-menu-item" href="{% url 'account_logout' %}">Logout</a></li>
              {% else %}
              <li><a class="navbar-menu-item" href="{% url 'account_login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <hr/>
    </div>
</div>
<style type="text/css">
    .navbar-menu-item {
        font-weight: bold;
        font-size: 16px;
    }
</style>